# Portfolio: `MyCoinbase`

The user portfolio is an object that is kept apart from the definition of objects related to the cryprocurrency portfolio provider (eg. Coinbase API). 

This is done for keeping a level of separation between the two layers, allowing future developement (eg. the implementation of other crypto trading services) and providing methods that are useful specifically at this level.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from surfingcrypto import Config
from surfingcrypto.portfolio import MyCoinbase

In [3]:
parent = "/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/"
c = Config(parent + "config")

## `MyCoinbase` object

The only implemented crypto trading platform is Coinbase and `MyCoinbase` is the class that under the hood of the `Portfolio` object handles the Coinbase user-profile, that is made of the client methods - inherited from the Coinbase API client wrapper object `CB` - plus some additional methods that are used for facilitating the user's sessions.

### Get active accounts

Basic `MyCoinbase` initialization offers loading all accounts that can be considered `active`, a.k.a. that have a `balance`> 0.00 EUR or USD.

In [4]:
cb = MyCoinbase(configuration=c)
print(cb)

MyCoinbase( isHistoric:False, N_accounts:4)

### Get all accounts with transactions.

This is the `isHistoric` mode of MyCoinbase, in which the `accounts` represents all accounts that has ever had a transaction. These accounts can either be fetched all from Coinbase API or locally cached.

The `MyCoinbase` object has a built-in cache system that allows to dump locally accounts information - functional to other modules, such as `Scraper` - and transactions. This helps avoiding fetching the same information every time and so reducing execution time. With about 200 transactions, the execution time is cut from 34 seconds to 25s.

In [5]:
cb = MyCoinbase(active_accounts=False, configuration=c)
print(cb)

MyCoinbase( isHistoric:True, N_accounts:32)

If required, a fresh update of all accounts and transactions can be forced with `force=True`.

In [6]:
cb = MyCoinbase(active_accounts=False,force=True, configuration=c)
print(cb)

MyCoinbase( isHistoric:True, N_accounts:32)

### Transaction history

Get the full transaction history via the `TransactionsHistory` class.

In [25]:
cb.get_history()
cb.history

TransactionsHistory(Transactions:203 - Processed:203, Unhandled:0 - Errors:9)

In [26]:
cb.history.unhandled_trans

[]

In [27]:
cb.history.df.head()

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,transaction_id,transaction_type_id
datetime,,,,,,,,,,,
2018-10-22T06:07:05Z,fiat_deposit,100.000000,EUR,100.00,EUR,100.00,100.00,0.00,1.000000,b11187ba-d297-5e7c-8152-54f185bcea27,d243a769-4683-563d-870c-995aeee9000d
2018-10-22T06:29:22Z,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.99,5627.999719,e1c9a69b-7b83-5cbc-831e-de11458a276c,17dad4f5-a677-53e1-a2e8-e5bf2968a7d1
2018-10-22T06:29:22Z,buy,-100.000000,EUR,-100.00,EUR,NaN,NaN,NaN,1.000000,0a7bdc5f-80de-520e-a77d-8c75ce0dad23,17dad4f5-a677-53e1-a2e8-e5bf2968a7d1
2018-11-09T12:05:12Z,sell,-0.017237,BTC,-93.27,EUR,93.27,96.26,2.99,5584.488743,ac53f2e0-98da-51b2-b44a-cc576d6674f4,6b48ecd7-a0d6-56df-bc23-84aac4ca1bb1
2018-11-09T12:05:13Z,sell,93.270000,EUR,93.27,EUR,NaN,NaN,NaN,1.000000,57d63f1e-b8f1-51e4-8a74-10ba7e3bb7c7,6b48ecd7-a0d6-56df-bc23-84aac4ca1bb1

In [28]:
cb.history.df[cb.history.df.isna().any(axis=1)]

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,transaction_id,transaction_type_id
datetime,,,,,,,,,,,
2018-10-22T06:29:22Z,buy,-100.000000,EUR,-100.00,EUR,NaN,NaN,NaN,1.000000,0a7bdc5f-80de-520e-a77d-8c75ce0dad23,17dad4f5-a677-53e1-a2e8-e5bf2968a7d1
2018-11-09T12:05:13Z,sell,93.270000,EUR,93.27,EUR,NaN,NaN,NaN,1.000000,57d63f1e-b8f1-51e4-8a74-10ba7e3bb7c7,6b48ecd7-a0d6-56df-bc23-84aac4ca1bb1
2018-11-09T12:06:15Z,buy,-93.270000,EUR,-93.27,EUR,NaN,NaN,NaN,1.000000,22b02587-56fd-5492-9df4-c40bcf9c2d30,222e2c94-d9a3-5d8c-871c-ba31471278b2
2019-01-25T14:28:56Z,sell,35.960000,EUR,35.96,EUR,NaN,NaN,NaN,1.000000,d6f31059-d03c-5170-b6f0-6b0a1f725b81,7871d80e-963f-516c-ba9d-135bb80d2abf
2021-04-20T18:57:41Z,buy,-500.000000,EUR,-500.00,EUR,NaN,NaN,NaN,1.000000,da376431-570a-55a3-bbe1-f44c6da7d6bf,5c5fa053-34ce-5b18-a991-05ab63f3ed08
...,...,...,...,...,...,...,...,...,...,...,...
2022-04-11T22:38:24Z,trade,0.214877,ETH,593.32,EUR,NaN,NaN,NaN,2761.208988,403429c6-96ba-5e03-a89f-f5363e6e7b95,d108cdce-5cf9-587d-a4c2-a56587fbcc4e
2022-04-11T22:38:25Z,trade,-659.270000,USDC,-605.43,EUR,NaN,NaN,NaN,0.918334,52c16cdd-2da0-561e-92e7-df0aa23dcb0f,d108cdce-5cf9-587d-a4c2-a56587fbcc4e
2022-04-13T21:13:35Z,send,1.228168,SOL,118.00,EUR,NaN,NaN,NaN,96.078047,d4e078a5-cafa-5263-ba88-46c8cfd0df55,None
2022-04-13T22:45:23Z,trade,4693.928869,DOGE,604.11,EUR,NaN,NaN,NaN,0.128700,c702a177-e621-5eb9-84ca-ee4db88bc755,c29988f6-178b-50ff-8d9b-77fd4ac9acb4
2022-04-13T22:45:24Z,trade,-0.214877,ETH,-616.06,EUR,NaN,NaN,NaN,2867.037028,da095ef8-19ac-5908-af90-9805961ad735,c29988f6-178b-50ff-8d9b-77fd4ac9acb4

In [29]:
cb.history.error_log[0]

{'transaction_type': 'buy',
 'account_id': 'af38031b-b9e5-5825-bb3e-77ea783ac192',
 'transaction_id': '22d9ed43-e213-5726-a127-6f80dbb8b3d1',
 'info': {'amount': -200.0, 'symbol': 'EUR', 'date': '2021-04-27T06:07:25Z'},
 'error_log': coinbase.wallet.error.NotFoundError(<Response [404]>,
                                     'not_found',
                                     'Not found',
                                     [{'id': 'not_found',
                                       'message': 'Not found'}])}