# Surfingcrypto `Portfolio`

The `surfingcrypto` portfolio.

In [36]:
%load_ext autoreload
%autoreload 2
from surfingcrypto import Config
from surfingcrypto.portfolio import Portfolio
from surfingcrypto.portfolio.tracker import Tracker

c=Config("/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/config")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
p=Portfolio("coinbase",configuration=c)

Warning! There are 45 transactionsthat were EXCLUDED in std_df.
Coinbase errors:
TransactionsHistory(Transactions:186 - Processed:186, Unhandled:0 - Errors:9)

In [3]:
p.std_df.head(10)

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2018-10-22T06:29:22Z,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.99,5627.999719,None
2018-10-22T06:29:22Z,buy,100.000000,EUR,100.00,EUR,NaN,NaN,NaN,1.000000,None
2018-11-09T12:05:12Z,sell,0.017237,BTC,93.27,EUR,93.27,96.26,2.99,5584.488743,None
2018-11-09T12:05:13Z,sell,93.270000,EUR,93.27,EUR,NaN,NaN,NaN,1.000000,None
2018-11-09T12:06:14Z,buy,348.021666,BAT,93.27,EUR,93.27,90.28,2.99,0.259409,None
2018-11-09T12:06:15Z,buy,93.270000,EUR,93.27,EUR,NaN,NaN,NaN,1.000000,None
2019-01-25T14:28:56Z,sell,35.960000,EUR,35.96,EUR,NaN,NaN,NaN,1.000000,None
2019-01-25T14:28:56Z,sell,348.021666,BAT,35.96,EUR,35.96,37.95,1.99,0.109045,None
2021-04-20T18:57:40Z,buy,0.258429,ETH,500.00,EUR,500.00,492.66,7.34,1906.364408,None
2021-04-20T18:57:41Z,buy,500.000000,EUR,500.00,EUR,NaN,NaN,NaN,1.000000,None

In [18]:
p.std_df.total_fee.sum()

234.1800000000002

## Portfolio live value tracker

In [39]:
t=Tracker(p.std_df,stocks_start="1-1-2021",configuration=c)

In [40]:
t.stocks_start

Timestamp('2021-01-01 00:00:00+0000', tz='UTC')

In [41]:
t.portfolio_df

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
0,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719
2,2018-11-09 12:05:12+00:00,sell,0.017237,BTC,93.27,5584.488743
4,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,0.259409
7,2019-01-25 14:28:56+00:00,sell,348.021666,BAT,35.96,0.109045
8,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408
...,...,...,...,...,...,...
136,2021-12-23 07:28:57+00:00,buy,1.001178,AAVE,195.57,195.339958
137,2021-12-23 07:28:58+00:00,sell,85.357006,MATIC,199.82,2.340991
138,2022-01-02 12:28:59+00:00,buy,0.072590,ETH,250.00,3311.907396
139,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
140,2022-01-04 10:44:51+00:00,sell,0.068600,ETH,230.19,3355.559414

In [42]:
print(len(t.portfolio_df.Symbol.unique()))

29

In [43]:
closedata=t.load_data()
closedata

                          Date         Close symbol
0    2021-01-01 00:00:00+00:00  24165.556650    BTC
1    2021-01-02 00:00:00+00:00  26474.892800    BTC
2    2021-01-03 00:00:00+00:00  26760.720558    BTC
3    2021-01-04 00:00:00+00:00  26094.005108    BTC
4    2021-01-05 00:00:00+00:00  27639.482246    BTC
...                        ...           ...    ...
3437 2022-03-04 00:00:00+00:00     80.735541    SOL
3438 2022-03-05 00:00:00+00:00     82.040593    SOL
3439 2022-03-06 00:00:00+00:00     77.749306    SOL
3440 2022-03-07 00:00:00+00:00     75.582331    SOL
3441 2022-03-08 00:00:00+00:00     75.478203    SOL

[3442 rows x 3 columns]

In [44]:
t.error_log

[]

In [45]:
print(len(closedata.symbol.unique()))

28

In [46]:
benchmark=t.set_benchmark("ETH")
benchmark

                         Date        Close
0   2021-01-01 00:00:00+00:00   600.859522
1   2021-01-02 00:00:00+00:00   638.265609
2   2021-01-03 00:00:00+00:00   796.329350
3   2021-01-04 00:00:00+00:00   848.990363
4   2021-01-05 00:00:00+00:00   894.422659
..                        ...          ...
427 2022-03-04 00:00:00+00:00  2394.415113
428 2022-03-05 00:00:00+00:00  2438.701595
429 2022-03-06 00:00:00+00:00  2349.742737
430 2022-03-07 00:00:00+00:00  2298.639000
431 2022-03-08 00:00:00+00:00  2364.462260

[432 rows x 2 columns]

In [47]:
active_portfolio=t.portfolio_start_balance()
active_portfolio

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
8,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408
10,2021-04-22 10:13:53+00:00,buy,0.062128,MKR,250.00,3964.873854
13,2021-04-22 19:20:15+00:00,sell,0.062128,MKR,213.69,3491.496921
14,2021-04-24 08:53:47+00:00,buy,210.343863,ADA,213.69,1.000980
16,2021-04-25 16:46:57+00:00,sell,22.697758,XLM,8.25,0.363472
...,...,...,...,...,...,...
136,2021-12-23 07:28:57+00:00,buy,1.001178,AAVE,195.57,195.339958
137,2021-12-23 07:28:58+00:00,sell,85.357006,MATIC,199.82,2.340991
138,2022-01-02 12:28:59+00:00,buy,0.072590,ETH,250.00,3311.907396
139,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
140,2022-01-04 10:44:51+00:00,sell,0.068600,ETH,230.19,3355.559414

In [48]:
print(len(active_portfolio.Symbol.unique()))

27

In [49]:
positions_per_day=t.time_fill()

In [50]:
positions_per_day[60]

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share,Date Snapshot
0,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719,2021-03-02 00:00:00+00:00
4,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,0.259409,2021-03-02 00:00:00+00:00

In [51]:
i=0
for day in positions_per_day:
    if len(day)==0:
        i=+1
print(i)

0

In [52]:
combined_df=t.per_day_portfolio_calcs(
    positions_per_day,
    benchmark,
    closedata,
    t.stocks_start 
)
combined_df

/opt/miniconda3/envs/cryptoenv/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Adj cost,Adj cost per share,Date Snapshot,Open date,Qty,Symbol,Type,Symbol Adj Close,Adj cost daily,Benchmark Close,...,Benchmark Start Date Cost,Benchmark Return,symbol Return,symbol Share Value,Benchmark Share Value,Stock Gain / (Loss),Benchmark Gain / (Loss),Abs Value Compare,Abs Value Return,Abs. Return Compare
0,416.542425,24165.556650,2021-01-01 00:00:00+00:00,2018-10-22 06:29:22+00:00,0.017237,BTC,buy,24165.556650,416.542425,600.859522,...,416.542425,0.000000,0.000000,416.542425,416.542425,0.000000,0.000000,0.000000,0.000000,0.000000
1,416.542425,24165.556650,2021-01-02 00:00:00+00:00,2018-10-22 06:29:22+00:00,0.017237,BTC,buy,26474.892800,456.348521,638.265609,...,416.542425,0.062254,0.095563,456.348521,442.473981,39.806096,25.931556,39.806096,0.095563,0.033309
2,416.542425,24165.556650,2021-01-03 00:00:00+00:00,2018-10-22 06:29:22+00:00,0.017237,BTC,buy,26760.720558,461.275343,796.329350,...,416.542425,0.325317,0.107391,461.275343,552.050764,44.732918,135.508340,44.732918,0.107391,-0.217926
3,416.542425,24165.556650,2021-01-04 00:00:00+00:00,2018-10-22 06:29:22+00:00,0.017237,BTC,buy,26094.005108,449.783149,848.990363,...,416.542425,0.412960,0.079802,449.783149,588.557711,33.240724,172.015286,33.240724,0.079802,-0.333158
4,416.542425,24165.556650,2021-01-05 00:00:00+00:00,2018-10-22 06:29:22+00:00,0.017237,BTC,buy,27639.482246,476.422585,894.422659,...,416.542425,0.488572,0.143755,476.422585,620.053390,59.880160,203.510965,59.880160,0.143755,-0.344817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8400,225.730000,149.348800,2022-03-06 00:00:00+00:00,2022-01-04 10:44:49+00:00,1.511428,SOL,buy,77.749306,117.512500,2349.742737,...,225.730000,2.910636,-0.479411,117.512500,882.747811,-108.217500,657.017811,-108.217500,-0.479411,-3.390047
8401,186.850000,182.087335,2022-03-07 00:00:00+00:00,2021-11-29 10:47:17+00:00,1.026156,SOL,buy,75.582331,77.559258,2298.639000,...,186.850000,2.825585,-0.584912,77.559258,714.810503,-109.290742,527.960503,-109.290742,-0.584912,-3.410496
8402,225.730000,149.348800,2022-03-07 00:00:00+00:00,2022-01-04 10:44:49+00:00,1.511428,SOL,buy,75.582331,114.237272,2298.639000,...,225.730000,2.825585,-0.493921,114.237272,863.549236,-111.492728,637.819236,-111.492728,-0.493921,-3.319505
8403,186.850000,182.087335,2022-03-08 00:00:00+00:00,2021-11-29 10:47:17+00:00,1.026156,SOL,buy,75.478203,77.452406,2364.462260,...,186.850000,2.935133,-0.585484,77.452406,735.279640,-109.397594,548.429640,-109.397594,-0.585484,-3.520617
8404,225.730000,149.348800,2022-03-08 00:00:00+00:00,2022-01-04 10:44:49+00:00,1.511428,SOL,buy,75.478203,114.079891,2364.462260,...,225.730000,2.935133,-0.494618,114.079891,888.277619,-111.650109,662.547619,-111.650109,-0.494618,-3.429751