# Surfingcrypto `Portfolio`

The `surfingcrypto` portfolio.

In [1]:
%load_ext autoreload
%autoreload 2
from surfingcrypto import Config
from surfingcrypto.portfolio import Portfolio
from surfingcrypto.portfolio.portfolio_tracker import Tracker

c=Config("/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/config")

In [15]:
p=Portfolio("coinbase",configuration=c)

Warning! There are 45 transactionsthat were EXCLUDED in std_df.
TransactionsHistory(Processed transactions:177, Unhandled:0, Errors:9 )

In [16]:
p.std_df.head()

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2022-01-04T10:44:49Z,buy,1.511428,SOL,225.73,EUR,NaN,NaN,2.230,149.348800,5851e642-8786-585b-a5d7-8546c8c16129
2021-11-29T10:47:17Z,buy,1.026156,SOL,186.85,EUR,NaN,NaN,1.620,182.087335,18160e53-8019-561c-a812-efd59cc7a354
2021-08-07T14:25:58Z,sell,2737.634483,ACH,299.46,EUR,NaN,NaN,-1.440,0.109386,4dbcbf9c-cd0d-56cb-8e25-f1da9a64558f
2021-08-06T23:12:51Z,buy,2737.634483,ACH,392.16,EUR,NaN,NaN,1.475,0.143248,78ad03ab-9076-593d-87f5-524da82304dd
2021-07-31T10:18:14Z,sell,4.123547,QNT,450.91,EUR,NaN,NaN,-3.225,109.350039,6ff73f15-78ae-56e1-8a01-ce15bbf64660

## Portfolio live value tracker

In [17]:
t=Tracker(p.std_df,configuration=c)

In [18]:
t.portfolio_df

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
0,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
1,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,182.087335
2,2021-08-07 14:25:58+00:00,sell,2737.634483,ACH,299.46,0.109386
3,2021-08-06 23:12:51+00:00,buy,2737.634483,ACH,392.16,0.143248
4,2021-07-31 10:18:14+00:00,sell,4.123547,QNT,450.91,109.350039
...,...,...,...,...,...,...
127,2021-05-01 21:45:54+00:00,buy,0.494161,ETH,1205.04,2438.557721
128,2021-05-01 19:09:11+00:00,sell,0.258429,ETH,630.96,2441.520900
129,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408
130,2018-11-09 12:05:12+00:00,sell,0.017237,BTC,93.27,5584.488743
131,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719

In [19]:
closedata=t.load_data()
closedata

/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/surfingcrypto/portfolio/portfolio_tracker.py:79: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  df = ts.df.loc[start:end_day, ["Close"]]

                          Date        Close symbol
0    2021-11-29 00:00:00+00:00   180.930925    SOL
1    2021-11-30 00:00:00+00:00   184.174472    SOL
2    2021-12-01 00:00:00+00:00   203.019810    SOL
3    2021-12-02 00:00:00+00:00   206.963809    SOL
4    2021-12-03 00:00:00+00:00   186.684766    SOL
...                        ...          ...    ...
2090 2018-11-05 00:00:00+00:00  5626.594402    BTC
2091 2018-11-06 00:00:00+00:00  5651.393981    BTC
2092 2018-11-07 00:00:00+00:00  5710.908071    BTC
2093 2018-11-08 00:00:00+00:00  5676.859986    BTC
2094 2018-11-09 00:00:00+00:00  5632.301856    BTC

[2095 rows x 3 columns]

In [20]:
t.error_log

[{'symbol': 'CGLD', 'error': FileNotFoundError('CGLD.csv not found.')},
 {'symbol': 'USDC', 'error': FileNotFoundError('USDC.csv not found.')}]

In [21]:
benchmark=t.set_benchmark("BTC")
benchmark

                          Date         Close
0    2018-10-22 00:00:00+00:00   5658.282386
1    2018-10-23 00:00:00+00:00   5644.216369
2    2018-10-24 00:00:00+00:00   5700.391926
3    2018-10-25 00:00:00+00:00   5692.963031
4    2018-10-26 00:00:00+00:00   5673.823536
...                        ...           ...
1226 2022-03-01 00:00:00+00:00  39842.839425
1227 2022-03-02 00:00:00+00:00  39526.873141
1228 2022-03-03 00:00:00+00:00  38362.705858
1229 2022-03-04 00:00:00+00:00  35806.680468
1230 2022-03-05 00:00:00+00:00  36057.168770

[1231 rows x 2 columns]

In [22]:
active_portfolio=t.portfolio_start_balance()
active_portfolio

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
0,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
1,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,182.087335
2,2021-08-07 14:25:58+00:00,sell,2737.634483,ACH,299.46,0.109386
3,2021-08-06 23:12:51+00:00,buy,2737.634483,ACH,392.16,0.143248
4,2021-07-31 10:18:14+00:00,sell,4.123547,QNT,450.91,109.350039
...,...,...,...,...,...,...
127,2021-05-01 21:45:54+00:00,buy,0.494161,ETH,1205.04,2438.557721
128,2021-05-01 19:09:11+00:00,sell,0.258429,ETH,630.96,2441.520900
129,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408
130,2018-11-09 12:05:12+00:00,sell,0.017237,BTC,93.27,5584.488743
131,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719

In [23]:
positions_per_day=t.time_fill()

In [24]:
positions_per_day[0]

Empty DataFrame
Columns: [Open date, Type, Qty, Symbol, Adj cost, Adj cost per share, Date Snapshot]
Index: []

In [11]:
positions_per_day[2]

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share,Date Snapshot
131,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.0,5627.999719,2018-10-24 00:00:00+00:00

In [12]:
positions_per_day[-1]

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share,Date Snapshot
0,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800,2022-03-05 00:00:00+00:00
1,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,182.087335,2022-03-05 00:00:00+00:00
3,2021-08-06 23:12:51+00:00,buy,2737.634483,ACH,392.16,0.143248,2022-03-05 00:00:00+00:00
5,2021-07-29 21:35:01+00:00,buy,4.123547,QNT,493.84,119.760979,2022-03-05 00:00:00+00:00
9,2021-12-23 07:28:57+00:00,buy,1.001178,AAVE,195.57,195.339958,2022-03-05 00:00:00+00:00
...,...,...,...,...,...,...,...
123,2021-05-05 16:55:05+00:00,buy,0.436476,ETH,1252.57,2869.732382,2022-03-05 00:00:00+00:00
125,2021-05-02 04:43:56+00:00,buy,0.139772,ETH,339.30,2427.520311,2022-03-05 00:00:00+00:00
127,2021-05-01 21:45:54+00:00,buy,0.494161,ETH,1205.04,2438.557721,2022-03-05 00:00:00+00:00
129,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408,2022-03-05 00:00:00+00:00
131,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719,2022-03-05 00:00:00+00:00

In [25]:
combined_df=t.per_day_portfolio_calcs(
    positions_per_day,
    benchmark,
    closedata,
    t.stocks_start 
)
combined_df

Empty DataFrame
Columns: [Adj cost, Adj cost per share, Date Snapshot, Open date, Qty, Symbol, Type, Symbol Adj Close, Adj cost daily, Benchmark Close, Benchmark End Date Close, Benchmark Start Date Close, symbol End Date Close, symbol Start Date Close, Equiv Benchmark Shares, Benchmark Start Date Cost, Benchmark Return, symbol Return, symbol Share Value, Benchmark Share Value, Stock Gain / (Loss), Benchmark Gain / (Loss), Abs Value Compare, Abs Value Return, Abs. Return Compare]
Index: []

[0 rows x 25 columns]