# Surfingcrypto `Portfolio`

The `surfingcrypto` portfolio.

In [1]:
%load_ext autoreload
%autoreload 2
from surfingcrypto import Config
from surfingcrypto.portfolio import Portfolio
from surfingcrypto.portfolio.portfolio_tracker import Tracker

c=Config("/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/config")

In [2]:
p=Portfolio("coinbase",configuration=c)

Warning! There are 45 transactionsthat were EXCLUDED in std_df.
Coinbase errors:
TransactionsHistory(Processed transactions:177, Unhandled:0, Errors:9 )

In [3]:
p.std_df.head()

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2022-01-04T10:44:49Z,buy,1.511428,SOL,225.73,EUR,NaN,NaN,2.230,149.348800,5851e642-8786-585b-a5d7-8546c8c16129
2021-11-29T10:47:17Z,buy,1.026156,SOL,186.85,EUR,NaN,NaN,1.620,182.087335,18160e53-8019-561c-a812-efd59cc7a354
2021-08-07T14:25:58Z,sell,2737.634483,ACH,299.46,EUR,NaN,NaN,-1.440,0.109386,4dbcbf9c-cd0d-56cb-8e25-f1da9a64558f
2021-08-06T23:12:51Z,buy,2737.634483,ACH,392.16,EUR,NaN,NaN,1.475,0.143248,78ad03ab-9076-593d-87f5-524da82304dd
2021-07-31T10:18:14Z,sell,4.123547,QNT,450.91,EUR,NaN,NaN,-3.225,109.350039,6ff73f15-78ae-56e1-8a01-ce15bbf64660

In [19]:
p.std_df[p.std_df["type"]=="sell"]

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2021-08-07T14:25:58Z,sell,2737.634483,ACH,299.46,EUR,NaN,NaN,-1.440,0.109386,4dbcbf9c-cd0d-56cb-8e25-f1da9a64558f
2021-07-31T10:18:14Z,sell,4.123547,QNT,450.91,EUR,NaN,NaN,-3.225,109.350039,6ff73f15-78ae-56e1-8a01-ce15bbf64660
2021-07-24T11:32:04Z,sell,0.136240,BOND,2.53,EUR,NaN,NaN,-0.025,18.570196,f32d8d17-a197-5da0-a8f1-42b81f4c1ba2
2021-07-24T11:27:55Z,sell,2.654867,CLV,2.55,EUR,NaN,NaN,-0.030,0.960500,e07ad799-6581-56fa-85d3-02e093efd65d
2021-07-24T11:32:32Z,sell,0.158680,BAL,2.55,EUR,NaN,NaN,-0.025,16.070082,deecdc3e-3ef5-576d-bb95-f122ea1c3f78
...,...,...,...,...,...,...,...,...,...,...
2021-05-05T21:06:06Z,sell,0.104361,ETH,300.61,EUR,NaN,NaN,2.225,2880.470028,b8b973bf-4641-5490-b80f-d444c1f5f0a2
2021-05-02T07:08:40Z,sell,0.206279,ETH,500.71,EUR,NaN,NaN,2.895,2427.341902,7369808b-0d3f-5813-bcaa-672b8c22bc09
2021-05-01T22:35:55Z,sell,0.143144,ETH,350.85,EUR,NaN,NaN,1.380,2451.027993,222dcf2b-84dd-50fd-bf2d-6a5e9f478d96
2021-05-01T19:09:11Z,sell,0.258429,ETH,630.96,EUR,NaN,NaN,3.265,2441.520900,6b8d639b-985b-5384-8046-35a0f71ad094
2018-11-09T12:05:12Z,sell,0.017237,BTC,93.27,EUR,93.27,96.26,2.990,5584.488743,None

## Portfolio live value tracker

In [4]:
t=Tracker(p.std_df,stocks_start="1-1-2021",configuration=c)

In [5]:
t.stocks_start

Timestamp('2021-01-01 00:00:00+0000', tz='UTC')

In [6]:
t.portfolio_df

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
0,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
1,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,182.087335
2,2021-08-07 14:25:58+00:00,sell,2737.634483,ACH,299.46,0.109386
3,2021-08-06 23:12:51+00:00,buy,2737.634483,ACH,392.16,0.143248
4,2021-07-31 10:18:14+00:00,sell,4.123547,QNT,450.91,109.350039
...,...,...,...,...,...,...
127,2021-05-01 21:45:54+00:00,buy,0.494161,ETH,1205.04,2438.557721
128,2021-05-01 19:09:11+00:00,sell,0.258429,ETH,630.96,2441.520900
129,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408
130,2018-11-09 12:05:12+00:00,sell,0.017237,BTC,93.27,5584.488743
131,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719

In [7]:
print(len(t.portfolio_df.Symbol.unique()))

29

In [8]:
closedata=t.load_data()
closedata

/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/surfingcrypto/portfolio/portfolio_tracker.py:93: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  df = ts.df.loc[start:end_day, ["Close"]]

                          Date        Close symbol
0    2021-11-29 00:00:00+00:00   180.930925    SOL
1    2021-11-30 00:00:00+00:00   184.174472    SOL
2    2021-12-01 00:00:00+00:00   203.019810    SOL
3    2021-12-02 00:00:00+00:00   206.963809    SOL
4    2021-12-03 00:00:00+00:00   186.684766    SOL
...                        ...          ...    ...
2090 2018-11-05 00:00:00+00:00  5626.594402    BTC
2091 2018-11-06 00:00:00+00:00  5651.393981    BTC
2092 2018-11-07 00:00:00+00:00  5710.908071    BTC
2093 2018-11-08 00:00:00+00:00  5676.859986    BTC
2094 2018-11-09 00:00:00+00:00  5632.301856    BTC

[2095 rows x 3 columns]

In [9]:
t.error_log

[{'symbol': 'CGLD', 'error': FileNotFoundError('CGLD.csv not found.')},
 {'symbol': 'USDC', 'error': FileNotFoundError('USDC.csv not found.')}]

In [10]:
print(len(closedata.symbol.unique()))

27

In [11]:
benchmark=t.set_benchmark("ETH")
benchmark

                         Date        Close
0   2021-01-01 00:00:00+00:00   600.859522
1   2021-01-02 00:00:00+00:00   638.265609
2   2021-01-03 00:00:00+00:00   796.329350
3   2021-01-04 00:00:00+00:00   848.990363
4   2021-01-05 00:00:00+00:00   894.422659
..                        ...          ...
424 2022-03-01 00:00:00+00:00  2670.120913
425 2022-03-02 00:00:00+00:00  2654.782138
426 2022-03-03 00:00:00+00:00  2561.444538
427 2022-03-04 00:00:00+00:00  2394.415113
428 2022-03-05 00:00:00+00:00  2438.701595

[429 rows x 2 columns]

In [12]:
active_portfolio=t.portfolio_start_balance()
active_portfolio

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
0,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
1,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,182.087335
2,2021-08-07 14:25:58+00:00,sell,2737.634483,ACH,299.46,0.109386
3,2021-08-06 23:12:51+00:00,buy,2737.634483,ACH,392.16,0.143248
4,2021-07-31 10:18:14+00:00,sell,4.123547,QNT,450.91,109.350039
...,...,...,...,...,...,...
125,2021-05-02 04:43:56+00:00,buy,0.139772,ETH,339.30,2427.520311
126,2021-05-01 22:35:55+00:00,sell,0.143144,ETH,350.85,2451.027993
127,2021-05-01 21:45:54+00:00,buy,0.494161,ETH,1205.04,2438.557721
128,2021-05-01 19:09:11+00:00,sell,0.258429,ETH,630.96,2441.520900
129,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408

In [13]:
print(len(active_portfolio.Symbol.unique()))

27

In [14]:
positions_per_day=t.time_fill()

In [15]:
positions_per_day[0]

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share,Date Snapshot
83,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,0.259409,2021-01-01 00:00:00+00:00
131,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719,2021-01-01 00:00:00+00:00

In [16]:
i=0
for day in positions_per_day:
    if len(day)==0:
        i=+1
print(i)

0

In [17]:
combined_df=t.per_day_portfolio_calcs(
    positions_per_day,
    benchmark,
    closedata,
    t.stocks_start 
)
combined_df

/opt/miniconda3/envs/cryptoenv/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Empty DataFrame
Columns: [Adj cost, Adj cost per share, Date Snapshot, Open date, Qty, Symbol, Type, Symbol Adj Close, Adj cost daily, Benchmark Close, Benchmark End Date Close, Benchmark Start Date Close, symbol End Date Close, symbol Start Date Close, Equiv Benchmark Shares, Benchmark Start Date Cost, Benchmark Return, symbol Return, symbol Share Value, Benchmark Share Value, Stock Gain / (Loss), Benchmark Gain / (Loss), Abs Value Compare, Abs Value Return, Abs. Return Compare]
Index: []

[0 rows x 25 columns]