# Surfingcrypto `Portfolio`

The `surfingcrypto` portfolio.

In [2]:
%load_ext autoreload
%autoreload 2
from surfingcrypto import Config
from surfingcrypto.portfolio import Portfolio
from surfingcrypto.portfolio.tracker import Tracker

c=Config("/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/config")

In [3]:
p=Portfolio("coinbase",configuration=c)

Warning! There are 45 transactionsthat were EXCLUDED in std_df.
Coinbase errors:
TransactionsHistory(Transactions:186 - Processed:186, Unhandled:0 - Errors:9)

In [4]:
p.std_df.head(10)

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2018-10-22T06:29:22Z,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.99,5627.999719,None
2018-10-22T06:29:22Z,buy,100.000000,EUR,100.00,EUR,NaN,NaN,NaN,1.000000,None
2018-11-09T12:05:12Z,sell,0.017237,BTC,93.27,EUR,93.27,96.26,2.99,5584.488743,None
2018-11-09T12:05:13Z,sell,93.270000,EUR,93.27,EUR,NaN,NaN,NaN,1.000000,None
2018-11-09T12:06:14Z,buy,348.021666,BAT,93.27,EUR,93.27,90.28,2.99,0.259409,None
2018-11-09T12:06:15Z,buy,93.270000,EUR,93.27,EUR,NaN,NaN,NaN,1.000000,None
2019-01-25T14:28:56Z,sell,35.960000,EUR,35.96,EUR,NaN,NaN,NaN,1.000000,None
2019-01-25T14:28:56Z,sell,348.021666,BAT,35.96,EUR,35.96,37.95,1.99,0.109045,None
2021-04-20T18:57:40Z,buy,0.258429,ETH,500.00,EUR,500.00,492.66,7.34,1906.364408,None
2021-04-20T18:57:41Z,buy,500.000000,EUR,500.00,EUR,NaN,NaN,NaN,1.000000,None

## Portfolio live value tracker

In [6]:
t=Tracker(p.std_df,stocks_start="1-1-2021",configuration=c)

In [7]:
t.stocks_start

Timestamp('2021-01-01 00:00:00+0000', tz='UTC')

In [8]:
t.portfolio_df

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
0,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719
2,2018-11-09 12:05:12+00:00,sell,0.017237,BTC,93.27,5584.488743
4,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,0.259409
7,2019-01-25 14:28:56+00:00,sell,348.021666,BAT,35.96,0.109045
8,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408
...,...,...,...,...,...,...
136,2021-12-23 07:28:57+00:00,buy,1.001178,AAVE,195.57,195.339958
137,2021-12-23 07:28:58+00:00,sell,85.357006,MATIC,199.82,2.340991
138,2022-01-02 12:28:59+00:00,buy,0.072590,ETH,250.00,3311.907396
139,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
140,2022-01-04 10:44:51+00:00,sell,0.068600,ETH,230.19,3355.559414

In [9]:
print(len(t.portfolio_df.Symbol.unique()))

29

In [12]:
closedata=t.load_data()
closedata

/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/surfingcrypto/portfolio/tracker.py:96: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  df = ts.df.loc[start:end_day, ["Close"]]

                          Date        Close symbol
0    2018-10-22 00:00:00+00:00  5658.282386    BTC
1    2018-10-23 00:00:00+00:00  5644.216369    BTC
2    2018-10-24 00:00:00+00:00  5700.391926    BTC
3    2018-10-25 00:00:00+00:00  5692.963031    BTC
4    2018-10-26 00:00:00+00:00  5673.823536    BTC
...                        ...          ...    ...
2091 2021-12-31 00:00:00+00:00   149.727281    SOL
2092 2022-01-01 00:00:00+00:00   156.953330    SOL
2093 2022-01-02 00:00:00+00:00   155.090257    SOL
2094 2022-01-03 00:00:00+00:00   150.677914    SOL
2095 2022-01-04 00:00:00+00:00   148.840053    SOL

[2096 rows x 3 columns]

In [13]:
t.error_log

[{'symbol': 'USDC', 'error': FileNotFoundError('USDC.csv not found.')}]

In [ ]:
print(len(closedata.symbol.unique()))

27

In [ ]:
benchmark=t.set_benchmark("ETH")
benchmark

ValueError: Local data is not sufficient for purpose.

In [ ]:
active_portfolio=t.portfolio_start_balance()
active_portfolio

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share
0,2022-01-04 10:44:49+00:00,buy,1.511428,SOL,225.73,149.348800
1,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,182.087335
2,2021-08-07 14:25:58+00:00,sell,2737.634483,ACH,299.46,0.109386
3,2021-08-06 23:12:51+00:00,buy,2737.634483,ACH,392.16,0.143248
4,2021-07-31 10:18:14+00:00,sell,4.123547,QNT,450.91,109.350039
...,...,...,...,...,...,...
125,2021-05-02 04:43:56+00:00,buy,0.139772,ETH,339.30,2427.520311
126,2021-05-01 22:35:55+00:00,sell,0.143144,ETH,350.85,2451.027993
127,2021-05-01 21:45:54+00:00,buy,0.494161,ETH,1205.04,2438.557721
128,2021-05-01 19:09:11+00:00,sell,0.258429,ETH,630.96,2441.520900
129,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,1906.364408

In [ ]:
print(len(active_portfolio.Symbol.unique()))

27

In [ ]:
positions_per_day=t.time_fill()

In [ ]:
positions_per_day[0]

,Open date,Type,Qty,Symbol,Adj cost,Adj cost per share,Date Snapshot
83,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,0.259409,2021-01-01 00:00:00+00:00
131,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,5627.999719,2021-01-01 00:00:00+00:00

In [ ]:
i=0
for day in positions_per_day:
    if len(day)==0:
        i=+1
print(i)

0

In [ ]:
combined_df=t.per_day_portfolio_calcs(
    positions_per_day,
    benchmark,
    closedata,
    t.stocks_start 
)
combined_df

/opt/miniconda3/envs/cryptoenv/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Empty DataFrame
Columns: [Adj cost, Adj cost per share, Date Snapshot, Open date, Qty, Symbol, Type, Symbol Adj Close, Adj cost daily, Benchmark Close, Benchmark End Date Close, Benchmark Start Date Close, symbol End Date Close, symbol Start Date Close, Equiv Benchmark Shares, Benchmark Start Date Cost, Benchmark Return, symbol Return, symbol Share Value, Benchmark Share Value, Stock Gain / (Loss), Benchmark Gain / (Loss), Abs Value Compare, Abs Value Return, Abs. Return Compare]
Index: []

[0 rows x 25 columns]