# Surfingcrypto `Portfolio`

The `surfingcrypto` portfolio.

In [14]:
%load_ext autoreload
%autoreload 2
from surfingcrypto import Config
from surfingcrypto.portfolio import Portfolio
from surfingcrypto.portfolio.portfolio_tracker import Tracker

c=Config("/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/config")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
p=Portfolio("coinbase",configuration=c)

Warning! There are 45 NOT processed.

In [16]:
p.std_df.head()

,type,amount,symbol,native_amount,nat_symbol,total,subtotal,total_fee,spot_price,trade_id
datetime,,,,,,,,,,
2022-01-04T10:44:49Z,buy,1.511428,SOL,225.73,EUR,NaN,NaN,2.230,149.348800,5851e642-8786-585b-a5d7-8546c8c16129
2021-11-29T10:47:17Z,buy,1.026156,SOL,186.85,EUR,NaN,NaN,1.620,182.087335,18160e53-8019-561c-a812-efd59cc7a354
2021-08-07T14:25:58Z,sell,2737.634483,ACH,299.46,EUR,NaN,NaN,-1.440,0.109386,4dbcbf9c-cd0d-56cb-8e25-f1da9a64558f
2021-08-06T23:12:51Z,buy,2737.634483,ACH,392.16,EUR,NaN,NaN,1.475,0.143248,78ad03ab-9076-593d-87f5-524da82304dd
2021-07-31T10:18:14Z,sell,4.123547,QNT,450.91,EUR,NaN,NaN,-3.225,109.350039,6ff73f15-78ae-56e1-8a01-ce15bbf64660